In [ ]:
y= set([0,2,67,5,7,78,53])
print(y)